<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ParaBankProject">
    <listeners>
        <listener class-name="listeners.Listener"/>
        <listener class-name="listeners.MyCustomReport"/>
    </listeners>
    <parameter name="browser" value=""/>
    <test name="TC01 Verify Register and Login Successfully">
        <classes>
            <class name="TestCases.TC01_Register">
                <methods>
                    <include name="CheckSignUpLinkClickable"/>
                </methods>
            </class>
            <class name="TestCases.TC02_Login">
                <methods>
                    <include name="loginWithValidData_P"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
